<!DOCTYPE html>
<html>
<head>
    <title>HOMEPAGE</title>
</head>
<body>
    <center><h5><font size="10">RECORD OF STUDENTS</font></h5></center>
    <center><h5><a href = "/add"><input type = "button" value="ADD"></a></h5></center>
    <center><h5><a href = "/delete"><input type = "button" value="DELETE"></a></h5></center>
    <center><h5><a href = "/printtable"><input type = "button" value="PRINT"></a></h5></center>
    <center><h5><a href = "/update"><input type = "button" value="UPDATE"></a></h5></center>
    <center><h5><a href = "/search"><input type = "button" value="SEARCH"></a></h5></center>
</body>
</html>