<!DOCTYPE html>
<html>
<head>
    <title>ADD NEW STUDENT</title>
</head>
<body>
    <form action="/addstudent" method = "POST">
        <center><h5><font size="5">STUDENT ADDITION</font></h5></center>
        <center><h5><font size="1">KINDLY FOLLOW EXAMPLES</font></h5></center>
        <center>ID NUMBER (Ex: 2001-0000): <input type="text" name="id_number" required></center><br>
        <center>FIRST NAME: <input type="text" name="firstname" required></center><br>
        <center>MIDDLE NAME: <input type="text" name="middlename" required></center><br>
        <center>LAST NAME: <input type="text" name="lastname" required></center><br>
        <center>SEX (Ex: M/F): <input type="text" name="sex" required></center><br>
        <center>COURSE (Ex: BSCS): <input type="text" name="course" required></center><br>
        <center>YEAR_LEVEL (Ex: 3): <input type="text" name="year" required></center><br>
        <center><a href="/"><input type="button" value="CANCEL"></a> <input type="submit" value="SUBMIT" /></center>
    </form>
</body>
</html>