<!DOCTYPE html>
<html>
<head>
    <title>UPDATE STUDENT</title>
</head>
<body>
    <form action="/updatestudent" method = "POST">
        <center><h5><font size="5">STUDENT REVISION</font></h5></center>
        <center><h5><font size="3">KINDLY FOLLOW EXAMPLES</font></h5></center>
        <center>Note: ID NUMBER MUST NOT BE CHANGED!</center><br>
        <center>ID NUMBER: <input type="text" name="id_number" /></center><br>
        <center>FIRST NAME: <input type="text" name="firstname" /></center><br>
        <center>MIDDLE NAME: <input type="text" name="middlename"/></center><br>
        <center>LAST NAME: <input type="text" name="lastname" /></center><br>
        <center>SEX: <input type="text" name="sex" /></center><br>
        <center>COURSE: <input type="text" name="course"></center><br>
        <center>YEAR LEVEL: <input type="text" name="year"></center><br>
        <center><a href="/"><input type="button" value="CANCEL"></a> <input type="submit" value="SUBMIT" /></center>
    </form>
</body>
</html>